

.parent{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
}

.child{
    width: 250px;
    height: 200px;
    margin: 10px;
    background-color: gray;
}

.newWidgetDiv {
    width: 100%;
    align-content: center;
    margin: 30px;
    display: flex;
    justify-content: center;    
}

.master-div { 
    padding-left : 20px;
}

.message-div { 
    width: 100%;
    align-content: center;
    margin: 30px;
    display: flex;
    justify-content: center;    
    color: red;
}

.shadow {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px #888888;
  }

  h3 {
    color: cyan
  }

  h2 {
    color: red
  }

  .error-message {
    display: flex;
    justify-content: center;    
    color: red;    
  }

  table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  td {
    height: 30px;
    padding-left: 10px;
  }